services:
  cms:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 3000:1337
    volumes:
      - ./database:/opt/app/database